@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}

.movie-detail__error {
   color: var(--color);
   font-weight: 600;
   padding: 0 px-to-rem(20);
   margin-inline: auto;
   max-width: px-to-rem(1400);

   &>a {
      display: inline-flex;
      align-items: center;
      gap: px-to-rem(10);
      margin-block-end: px-to-rem(20);
      text-decoration: none;
      color: var(--color);

      &>img {
         filter: var(--filter)
      }
   }
}

.movie-detail {
   padding: 0 px-to-rem(20);
   max-width: px-to-rem(1400);
   margin-inline: auto;
   color: var(--color);
}

.movie-detail__img {
   display: block;
   width: 100%;
   border-radius: px-to-rem(7);
   max-width: px-to-rem(350);
   margin-block-end: px-to-rem(20);
}

.movie-detail__title {
   &>span {
      font-weight: 400;
      font-size: px-to-rem(20);
      letter-spacing: 2px;
   }
}

.movie-detail__rating {
   font-weight: 600;
   margin-block: px-to-rem(10);
}

.movie-detail__release-date {
   font-weight: 600;

}

.movie-detail__description {
   margin-block: px-to-rem(10);
   letter-spacing: px-to-rem(.2);
   line-height: px-to-rem(20);
}

.movie-detail-link {
   position: relative;
   display: inline-flex;
   align-items: center;
   gap: px-to-rem(10);
   text-decoration: none;
   color: var(--color);
   font-weight: 600;
   margin-block-end: px-to-rem(20);

   &>img {
      filter: var(--filter)
   }

   &::after {
      content: "";
      position: absolute;
      background-color: var(--color);
      width: 100%;
      height: px-to-rem(1);
      bottom: -3px;
      transform: scale(0);
      transform-origin: right;
      transition: transform .5s ease-in-out;
   }

   &:hover::after {
      transform: scale(1);
      transition: transform .5s ease-in-out;
   }
}

.movie-detail__cast-name {
   color: var(--color);
   max-width: px-to-rem(1400);
   margin: px-to-rem(50) auto px-to-rem(30);
   text-align: center;
   font-size: px-to-rem(30);
}

.movie-detail__cast {
   display: flex;
   align-items: center;
   flex-flow: row wrap;
   gap: px-to-rem(20);
   max-width: px-to-rem(1400);
   margin: 0 auto px-to-rem(30);
}

.movie-detail__div {
   margin-inline: px-to-rem(20);

   &>img {
      width: px-to-rem(100);
   }
}

.movie-detail__cast_name {
   color: var(--color);
   font-size: clamp(0.75rem, 0.636rem + 0.568vw, 1.063rem);
}

.movie-detail__popularity {
   color: var(--color);
   font-size: clamp(0.75rem, 0.636rem + 0.568vw, 1.063rem);
   margin-block-start: px-to-rem(5);
}




@media screen and (min-width: px-to-rem(400)) {
   .movie-detail, .movie-detail__error {
      padding-inline: px-to-rem(30);
   }

   .movie-detail__div {
      margin-inline: px-to-rem(30);

      &>img {
         width: px-to-rem(155);
      }
   }
}
