@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}

:root {
   --color: black;
   --bg-color-header: #F4F4F9;
   --bg-color: #e7e7ee;
   --border-color: rgba(0, 0, 0, 0.678);
   --box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .3);
   --box-shadow-btn: 0px 0px 10px 1px rgba(0, 0, 0, .6);
}

[data-theme="dark"] {
   --color: white;
   --bg-color-header: #111;
   --bg-color: #333;
   --border-color: gray;
   --box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
   --box-shadow-btn: 0px 0px 10px 1px rgba(255, 255, 255, .2);
}

body {
   background-color: var(--bg-color);
}


* {
   margin: 0;
   padding: 0;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

body,
select,
button,
input,
select,
textarea {
   font-family: "Montserrat", sans-serif;
   font-size: px-to-rem(16);
}








/* montserrat-regular - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   src: url('./src/assets/fonts/montserrat-v29-latin-regular.woff2') format('woff2');
   /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   src: url('./src/assets/fonts/montserrat-v29-latin-500.woff2') format('woff2');
   /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600 - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   src: url('./src/assets/fonts/montserrat-v29-latin-600.woff2') format('woff2');
   /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   src: url('./src/assets/fonts/montserrat-v29-latin-700.woff2') format('woff2');
   /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 800;
   src: url('./src/assets/fonts/montserrat-v29-latin-800.woff2') format('woff2');
   /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-900 - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 900;
   src: url('./src/assets/fonts/montserrat-v29-latin-900.woff2') format('woff2');
   /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
