@function px-to-rem($px-value) {
   @return $px-value / 16 * 1rem
}

.header {
   align-content: center;
   background-color: var(--bg-color-header);
   box-shadow: var(--box-shadow);
   height: px-to-rem(80);
   margin-block-end: px-to-rem(40);
}

.header__wrapper {
   display: flex;
   align-items: center;
   gap: px-to-rem(32);
   padding: px-to-rem(15) px-to-rem(20);
   justify-content: space-between;
   max-width: px-to-rem(1400);
   margin-inline: auto;
   font-size: clamp(0.938rem, 0.824rem + 0.568vw, 1.25rem);
}

@media screen and (min-width: px-to-rem(400)) {
   .header__wrapper {
      padding-inline: px-to-rem(30);
   }
}

.header__movies {
   display: flex;
   align-items: center;
   gap: px-to-rem(16);
   text-decoration: none;
   color: var(--color);
}

.header__theme-btn {
   display: flex;
   align-items: center;
   gap: px-to-rem(10);
   border: 1px solid var(--border-color);
   border-radius: px-to-rem(10);
   padding: px-to-rem(6);
   background-color: var(--bg-color);
   color: var(--color);
   box-shadow: var(--box-shadow-btn);
   opacity: .6;
   transition: .2s ease-in-out;

   &:hover {
      cursor: pointer;
      opacity: 1;
      transition: .2s ease-in-out;
   }
}

.header__sun-img,
.header__title-img {
   filter: invert(100%) brightness(100%);
}
